* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1.6;
  margin: 50px auto;
  width: 1300px;
}
header {
  padding-bottom: 50px;
  font-size: 110%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: start;

  gap: 50px;
}
.winner-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
}
.winner-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.winner-name:last-child {
  padding-bottom: 40px;
}

.winners-icon {
  height: 24px;
  width: 24px;
}

.rank-wrap {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.rank-title {
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
}

.combined-table {
  margin-top: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sort_icon {
  height: 16px;
  width: 16px;
}

th div {
  display: flex;
  align-items: center;
}

th,
td {
  /* border: 1px solid #343a40; */
  padding: 24px 14px;
  text-align: left;
}

.head {
  font-size: 16px;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
